@font-face {
  font-family: 'GrowwSans';
  font-style: normal;
  font-weight: 300 700;
  src: url(./GrowwSans-Variable.woff2) format('woff2-variations');
  font-display: swap;
}

@font-face {
  font-family: 'NotoSans';
  font-style: normal;
  font-weight: 500;
  src: url(./NotoSans-Regular.woff2) format("woff2");
  unicode-range: U+0900-097F; /* Unicode range for Devanagari script (Hindi) */
  font-display: swap;
}

@font-face {
  font-family: 'NotoSans';
  font-style: normal;
  font-weight: 600;
  src: url(./NotoSans-Medium.woff2) format("woff2");
  unicode-range: U+0900-097F; /* Unicode range for Devanagari script (Hindi) */
  font-display: swap;
}

@font-face {
  font-family: 'NotoSans';
  font-style: normal;
  font-weight: 700;
  src: url(./NotoSans-SemiBold.woff2) format("woff2");
  unicode-range: U+0900-097F; /* Unicode range for Devanagari script (Hindi) */
  font-display: swap;
}

@font-face {
  font-family: 'Soehne';
  font-style: normal;
  font-weight: 300 700;
  src: url(./Soehne.woff2) format('woff2-variations');
  font-display: swap;
}