html {
  /* Mapping of global colors to border tokens */
  --border-primary: var(--gray150);
  --border-disabled: var(--gray100);
  
  --border-accent: var(--green500);
  --border-positive: var(--green500);
  --border-negative: var(--red500);
  --border-neutral: var(--gray900);

  /* Dark Theme Mapping */
}

html[data-theme="dark"] {
  --border-neutral: var(--white); /* Dark mode neutral color */
}
