/* ---------------- Interaction Layer/State ---------------------- */

  /*
  * Using direct hex value mapping for now
  * These set of interaction  variable's name will be updated after new spectrum changes
  * To be used by components for their interaction states
*/

html {
    /* ----- Hover State -----  */
  --bg-transparent-hover: #44475B0F;

  --bg-accent-hover: #04AD83;
  --bg-accent-subtle-hover: #DDF5EE;
  --bg-transparent-accent-hover: #00B3860F;

  --bg-positive-hover: #04AD83;
  --bg-positive-subtle-hover: #DDF5EE;
  --bg-transparent-positive-hover: #00B3860F;

  --bg-negative-hover: #E15A3E;
  --bg-negative-subtle-hover: #F9E0DB;
  --bg-transparent-negative-hover: #EB5B3C0F;


  /* ----- Selected State ----- */
  --bg-transparent-selected: #44475B0F;

  --bg-accent-selected: #04AD83;
  --bg-accent-subtle-selected: #DDF5EE;
  --bg-transparent-accent-selected: #00B3860F;

  --bg-positive-selected: #04AD83;
  --bg-positive-subtle-selected: #DDF5EE;
  --bg-transparent-positive-selected: #00B3860F;

  --bg-negative-selected: #E15A3E;
  --bg-negative-subtle-selected: #F9E0DB;
  --bg-transparent-negative-selected: #EB5B3C0F;
  }