.mint-btn-default {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 72px;
  border-radius: 8px;
  flex-shrink: 0;
  border: 0;
  outline: none;
}


.mint-btn-default:focus-visible {
  outline: 2px solid var(--content-accent-secondary);
  outline-offset: 2px;
}
.mint-btn-cursor-default {
  cursor: default;
}

.mint-btn-default.mint-btn-secondary-default-border{
  border: 1px solid var(--border-primary);
}

.mint-btn-tertiary-label-border {
  border-style: dashed !important;
  border-width: 0 0 1px 0 !important;
}
/* -- Size Classes -- */

.mint-btn-small {
  padding: 12px;
  height: 32px;
  gap: 6px;
}

.mint-btn-medium {
  padding: 12px 16px;
  height: 40px;
  gap: 6px;
}

.mint-btn-large {
  padding: 16px 24px;
  height: 48px;
  gap: 8px;
}

.mint-btn-full-width{
  width: 100%;
}

/* -- Disabled Button -- */

.mint-btn-disabled{
  cursor: default;
  pointer-events: none;
}

.mint-btn-disabled.mint-btn-tertiary-disabled{
  background-color: transparent;
}

/* -- Compact classes -- */

.mint-btn-default.mint-btn-compact {
  min-width: fit-content;
  height: fit-content;
  border-radius: 0;
  padding: 0;
}


/*  -- Loader Button --  */

.mint-btn-loader-wrapper {
  position: absolute;
  margin-top: 4px;
}

.mint-btn-default.mint-btn-loader {
  color: transparent;
  pointer-events: none;
}

.mint-btn-loader-item-border-white {
  border: 2px solid var(--background-always-light); /* the loader color will always be white in dark as well as in light theme */
  border-top-color: transparent;
}

.mint-btn-loader-item-border-gray { /*used because the token doesn't override the existing color of loader*/
  border: 2px solid var(--border-neutral);
  border-top-color: transparent;
}

.mint-btn-small .mint-btn-loader-item {
  width: 16px;
  height: 16px;
}

.mint-btn-medium .mint-btn-loader-item {
  width: 20px; 
  height: 20px;
}

.mint-btn-large .mint-btn-loader-item {
  width: 24px;
  height: 24px;
}

/*  -- Fixed Bottom -- */

.mint-btn-fixed-bottom {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 12px;
  width: 100%;
  z-index: var(--zindex300);
  border-width: 1px 0 0 0;
}

/* --- Hover State --- */

/* --- Primary --- --- */

.mint-btn-primary:hover{
  background-color: var(--color-bg-button-primary-accent-hover);
}

/* --- Secondary --- */

/* Default : when isAccent = false*/
.mint-btn-secondary.mint-btn-secondary-default:hover {
  background-color: var(--color-bg-button-secondary-default-hover);
}

/* when isAccent = true */
.mint-btn-secondary.mint-btn-secondary-accent:hover{
  background-color: var( --color-bg-button-secondary-accent-hover);
}

/* --- Tertiary --- */

/* Default : when isAccent = false */
.mint-btn-tertiary.mint-btn-tertiary-default:hover{
  background-color: var( --color-bg-button-tertiary-default-hover);
}

/* when isAccent = true */
.mint-btn-tertiary.mint-btn-tertiary-accent:hover{
  background-color: var( --color-bg-button-tertiary-accent-hover);
}

/* --- Negative --- */

.mint-btn-default.mint-btn-negative:hover{
  background-color: var(--color-bg-button-primary-negative-hover);
}