html {
    --border-data-viz-lilac: var(--data-viz-lilac);
    --border-data-viz-lilac-subtle: var(--data-viz-lilac-subtle);
    --border-data-viz-blue: var(--data-viz-blue);
    --border-data-viz-blue-subtle: var(--data-viz-blue-subtle);
    --border-data-viz-sky-blue: var(--data-viz-sky-blue);
    --border-data-viz-sky-blue-subtle: var(--data-viz-sky-blue-subtle);
    --border-data-viz-mint-green: var(--data-viz-mint-green);
    --border-data-viz-mint-green-subtle: var(--data-viz-mint-green-subtle);
    --border-data-viz-olive-green: var(--data-viz-olive-green);
    --border-data-viz-olive-green-subtle: var(--data-viz-olive-green-subtle);
    --border-data-viz-yellow: var(--data-viz-yellow);
    --border-data-viz-yellow-subtle: var(--data-viz-yellow-subtle);
    --border-data-viz-orange: var(--data-viz-orange);
    --border-data-viz-orange-subtle: var(--data-viz-orange-subtle);
    --border-data-viz-red: var(--data-viz-red);
    --border-data-viz-red-subtle: var(--data-viz-red-subtle);
    --border-data-viz-magenta: var(--data-viz-magenta);
    --border-data-viz-magenta-subtle: var(--data-viz-magenta-subtle);
    --border-data-viz-brown: var(--data-viz-brown);
    --border-data-viz-brown-subtle: var(--data-viz-brown-subtle);
    --border-data-viz-grey: var(--data-viz-grey);
    --border-data-viz-grey-subtle: var(--data-viz-grey-subtle);
  }
  
  