.backgroundPrimary {
  background-color: var(--background-primary);
}

.backgroundSecondary {
  background-color: var(--background-secondary);
}

.backgroundTertiary {
  background-color: var(--background-tertiary);
}

.backgroundTransparent {
  background-color: var(--background-transparent);
}

.backgroundSurfacePrimary {
  background-color: var(--background-surface-primary);
}

.backgroundSurfaceSecondary {
  background-color: var(--background-surface-secondary);
}

.backgroundInversePrimary {
  background-color: var(--background-inverse-primary);
}

.backgroundOverlayPrimary {
  background-color: var(--background-overlay-primary);
}

.backgroundOverlaySecondary {
  background-color: var(--background-overlay-secondary);
}

.backgroundAlwaysDark {
  background-color: var(--background-always-dark);
}

.backgroundAlwaysLight {
  background-color: var(--background-always-light);
}

/*-------------------------------------------*/
/*--------------Extended Tokens--------------*/
/*-------------------------------------------*/

.backgroundAccent {
  background-color: var(--background-accent);
}

.backgroundPositive {
  background-color: var(--background-positive);
}

.backgroundNegative {
  background-color: var(--background-negative);
}

.backgroundWarning {
  background-color: var(--background-warning);
}

.backgroundAccentSubtle {
  background-color: var(--background-accent-subtle);
}

.backgroundPositiveSubtle {
  background-color: var(--background-positive-subtle);
}

.backgroundNegativeSubtle {
  background-color: var(--background-negative-subtle);
}

.backgroundWarningSubtle {
  background-color: var(--background-warning-subtle);
}

.backgroundAccentSecondary {
  background-color: var(--background-accent-secondary);
}

.backgroundAccentSecondarySubtle {
  background-color: var(--background-accent-secondary-subtle);
}

.backgroundDisabled{
  background-color: var(--background-disabled);
}