.contentPrimary {
  color: var(--content-primary);
}

.contentSecondary {
  color: var(--content-secondary);
}

.contentTertiary {
  color: var(--content-tertiary);
}

.contentInversePrimary {
  color: var(--content-inverse-primary);
}

.contentInverseSecondary {
  color: var(--content-inverse-secondary);
}

.contentAccent {
  color: var(--content-accent);
}

.contentNegative {
  color: var(--content-negative);
}

.contentWarning {
  color: var(--content-warning);
}

.contentPositive {
  color: var(--content-positive);
}

.contentDisabled {
  color: var(--content-disabled);
}

.contentOnColour {
  color: var(--content-on-colour);
}

.contentOnColourInverse {
  color: var(--content-on-colour-inverse);
}

.contentAccentSecondary {
  color: var(--content-accent-secondary);
}

.contentAccentSecondarySubtle {
  color: var(--content-accent-secondary-subtle);
}

.contentOnWarningSubtle {
  color: var(--content-on-warning-subtle);
}