.contentPrimary {
  color: var(--content-primary);
}
html[data-theme="dark"] .contentPrimary {
  color: var(--content-primary);
}

.contentSecondary {
  color: var(--content-secondary);
}

.contentTertiary {
  color: var(--content-tertiary);
}

.contentInversePrimary {
  color: var(--content-inverse-primary);
}
html[data-theme="dark"] .contentInversePrimary {
  color: var(--content-inverse-primary);
}

.contentInverseSecondary {
  color: var(--content-inverse-secondary);
}
html[data-theme="dark"] .contentInverseSecondary {
  color: var(--content-inverse-secondary);
}

/* Extended Tokens */
.contentAccent {
  color: var(--content-accent);
}

.contentNegative {
  color: var(--content-negative);
}

.contentWarning {
  color: var(--content-warning);
}

.contentPositive {
  color: var(--content-positive);
}

.contentDisabled {
  color: var(--content-disabled);
}
html[data-theme="dark"] .contentDisabled {
  color: var(--content-disabled);
}

.contentOnColour {
  color: var(--content-on-colour);
}

.contentOnColourInverse {
  color: var(--content-on-colour-inverse);
}
html[data-theme="dark"] .contentOnColourInverse {
  color: var(--content-on-colour-inverse);
}

.contentAccentSecondary {
  color: var(--content-accent-secondary);
}

.contentAccentSecondarySubtle {
  color: var(--content-accent-secondary-subtle);
}
