.backgroundDataVizLilac {
  background-color: var(--data-viz-lilac);
}

.backgroundDataVizLilacSubtle {
  background-color: var(--data-viz-lilac-subtle);
}

.backgroundDataVizBlue {
  background-color: var(--data-viz-blue);
}

.backgroundDataVizBlueSubtle {
  background-color: var(--data-viz-blue-subtle);
}

.backgroundDataVizSkyBlue {
  background-color: var(--data-viz-sky-blue);
}

.backgroundDataVizSkyBlueSubtle {
  background-color: var(--data-viz-sky-blue-subtle);
}

.backgroundDataVizMintGreen {
  background-color: var(--data-viz-mint-green);
}

.backgroundDataVizMintGreenSubtle {
  background-color: var(--data-viz-mint-green-subtle);
}

.backgroundDataVizOliveGreen {
  background-color: var(--data-viz-olive-green);
}

.backgroundDataVizOliveGreenSubtle {
  background-color: var(--data-viz-olive-green-subtle);
}

.backgroundDataVizYellow {
  background-color: var(--data-viz-yellow);
}

.backgroundDataVizYellowSubtle {
  background-color: var(--data-viz-yellow-subtle);
}

.backgroundDataVizOrange {
  background-color: var(--data-viz-orange);
}

.backgroundDataVizOrangeSubtle {
  background-color: var(--data-viz-orange-subtle);
}

.backgroundDataVizRed {
  background-color: var(--data-viz-red);
}

.backgroundDataVizRedSubtle {
  background-color: var(--data-viz-red-subtle);
}

.backgroundDataVizMagenta {
  background-color: var(--data-viz-magenta);
}

.backgroundDataVizMagentaSubtle {
  background-color: var(--data-viz-magenta-subtle);
}

.backgroundDataVizBrown {
  background-color: var(--data-viz-brown);
}

.backgroundDataVizBrownSubtle {
  background-color: var(--data-viz-brown-subtle);
}

.backgroundDataVizGrey {
  background-color: var(--data-viz-grey);
}

.backgroundDataVizGreySubtle {
  background-color: var(--data-viz-grey-subtle);
}
