.borderDataVizLilac {
  border-color: var(--border-data-viz-lilac);
}

.borderDataVizLilacSubtle {
  border-color: var(--border-data-viz-lilac-subtle);
}

.borderDataVizBlue {
  border-color: var(--border-data-viz-blue);
}

.borderDataVizBlueSubtle {
  border-color: var(--border-data-viz-blue-subtle);
}

.borderDataVizSkyBlue {
  border-color: var(--border-data-viz-sky-blue);
}

.borderDataVizSkyBlueSubtle {
  border-color: var(--border-data-viz-sky-blue-subtle);
}

.borderDataVizMintGreen {
  border-color: var(--border-data-viz-mint-green);
}

.borderDataVizMintGreenSubtle {
  border-color: var(--border-data-viz-mint-green-subtle);
}

.borderDataVizOliveGreen {
  border-color: var(--border-data-viz-olive-green);
}

.borderDataVizOliveGreenSubtle {
  border-color: var(--border-data-viz-olive-green-subtle);
}

.borderDataVizYellow {
  border-color: var(--border-data-viz-yellow);
}

.borderDataVizYellowSubtle {
  border-color: var(--border-data-viz-yellow-subtle);
}

.borderDataVizOrange {
  border-color: var(--border-data-viz-orange);
}

.borderDataVizOrangeSubtle {
  border-color: var(--border-data-viz-orange-subtle);
}

.borderDataVizRed {
  border-color: var(--border-data-viz-red);
}

.borderDataVizRedSubtle {
  border-color: var(--border-data-viz-red-subtle);
}

.borderDataVizMagenta {
  border-color: var(--border-data-viz-magenta);
}

.borderDataVizMagentaSubtle {
  border-color: var(--border-data-viz-magenta-subtle);
}

.borderDataVizBrown {
  border-color: var(--border-data-viz-brown);
}

.borderDataVizBrownSubtle {
  border-color: var(--border-data-viz-brown-subtle);
}

.borderDataVizGrey {
  border-color: var(--border-data-viz-grey);
}

.borderDataVizGreySubtle {
  border-color: var(--border-data-viz-grey-subtle);
}
