.tg11Container {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  padding: 3px 10px;
  overflow: hidden;
  border-radius: 4px;
  min-height: 30px;
  -webkit-font-smoothing: auto;
}

.tg11Warning {
  background-color: var(--background-warning-subtle);
  color: var(--content-primary);
}

.tg11Error {
  background-color: var(--background-negative-subtle);
  color: var(--content-primary);
}

.tg11Info {
  background-color: var(--background-accent-subtle);
  color: var(--content-primary);
}
