.inputStepper-inputContent {
  position: relative;
  display: flex;
  height: 32px;
  border-radius: 4px;
  padding-left: 4px;
  padding-right: 4px;
}
  
.inputStepper-inputFocused {
  outline-offset: -1px;
  outline: 2px solid var(--border-neutral);
}

.inputStepper-input {
  width: 100%;
  font-size: 16px;
  caret-color: var(--content-accent);
  outline: none; /* Remove focus outline */
  box-shadow: none; /* Remove any focus box-shadow */
  border: none;
  text-overflow: ellipsis;
  text-align: center;
  padding: 0;
}

.inputStepper-prefixContainer,
.inputStepper-suffixContainer {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.inputStepper-inputPrefixIcon,
.inputStepper-inputPrefixLabel {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputStepper-inputClearIcon {
  cursor: pointer;
}

input::placeholder {
  color: var(--content-tertiary);
}

.inputStepper-inputBorderNeutral {
  border: 2px solid var(--border-neutral);
}

.inputStepper-inputBorderNegative {
  border: 2px solid var(--border-negative);
  border-radius: 4px;
}

.inputStepper-inputBorderWarning{
  border: 2px solid var(--content-warning);
  border-radius: 4px;
}