  /* ---------------- data-viz variables ---------------------- */
  /* These are additional variables over and above the theme variables */
  /* data-viz variables do not have separate primitive and semantic tokens */
  /* The below mentioned can be used as primitive and semantic tokens */
  /* Hence there is no separate entry in the theme tokens for these */
  
  html {
    --data-viz-lilac: #7A7AC6;
    --data-viz-lilac-subtle: #DFE0EF;
    --data-viz-blue: #5669FF;
    --data-viz-blue-subtle: #CAD1FE;
    --data-viz-sky-blue: #4DA4DD;
    --data-viz-sky-blue-subtle: #C7E2F3;
    --data-viz-mint-green: #04B488;
    --data-viz-mint-green-subtle: #B2E7DA;
    --data-viz-olive-green: #A1B55C;
    --data-viz-olive-green-subtle: #E1E7CD;
    --data-viz-yellow: #FCCE00;
    --data-viz-yellow-subtle: #FCEFB1;
    --data-viz-orange: #F59817;
    --data-viz-orange-subtle: #FADFB8;
    --data-viz-red: #FF5E3B;
    --data-viz-red-subtle: #F8CBC0;
    --data-viz-magenta: #C73A75;
    --data-viz-magenta-subtle: #ECC2D4;
    --data-viz-brown: #9D615C;
    --data-viz-brown-subtle: #DFCECD;
    --data-viz-grey: #808FA3;
    --data-viz-grey-subtle: #BEC6D0;
}

html[data-theme="dark"] {
  --data-viz-lilac: #7A7AC6;
  --data-viz-lilac-subtle: #1D1E2F;
  --data-viz-blue: #5669FF;
  --data-viz-blue-subtle: #1E2553;
  --data-viz-sky-blue: #4DA4DD;
  --data-viz-sky-blue-subtle: #1B3749;
  --data-viz-mint-green: #04B488;
  --data-viz-mint-green-subtle: #053C2F;
  --data-viz-olive-green: #A1B55C;
  --data-viz-olive-green-subtle: #353C22;
  --data-viz-yellow: #FCCE00;
  --data-viz-yellow-subtle: #504306;
  --data-viz-orange: #F59817;
  --data-viz-orange-subtle: #4E330D;
  --data-viz-red: #FF5E3B;
  --data-viz-red-subtle: #512218;
  --data-viz-magenta: #C73A75;
  --data-viz-magenta-subtle: #401729;
  --data-viz-brown: #9D615C;
  --data-viz-brown-subtle: #332322;
  --data-viz-grey: #808FA3;
  --data-viz-grey-subtle: #434C56;
}
