.tc341ToggleWrapper {
  min-width: 88px;
  max-width: fit-content;
  height: 32px;
  border-radius: 30px;
  border: 1px solid var(--content-accent);
  justify-content: space-evenly;
  overflow: hidden;
}


.tc341Divider {
  height: 100%;
  width: 1px;
  background-color: var(--content-accent);
  z-index: var(--zindex300);
}


.tc341ActiveChoice {
  background-color: var(--background-accent-subtle);
}


.tc341ChoiceClass {
  height: 100%;
  padding-inline: 7px;
}
