.txta37Label {
  color: var(--content-tertiary);
  margin-bottom: 16px;
}

.txta37Area {
  resize: none;
  border-radius: 8px;
  caret-color: var(--priamryClr);
  padding: 16px;
  color: var(--content-primary);
  font-size: 16px;
}

.txta37Area:focus {
  outline: none;
}

.txta37Area::placeholder {
  color: var(--content-tertiary);
}

.txta37Normal {
  border: 2px solid var(--border-primary);
}

.txta37Error {
  border: 2px solid var(--content-negative);
}

.txta37ErrorMessage {
  color: var(--content-negative);
  margin-top: 16px;
}
