.iconButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 99px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.iconBtnSmall {
    height: 24px;
    width: 24px;
  }

  .iconBtnMedium {
    height: 32px;
    width: 32px;
  }
 