.freeform-inputWrapper {
  /* position: relative; */
  display: flex;
  width: 100%;
  border: none;
  flex-direction: column;
  gap: 8px;
  padding: 1px;
}

.freeform-inputContent {
  position: relative;
  display: flex;
  height: 48px;
  border-radius: 4px;
  padding: 0px;
  gap: 0px;
  align-items:center ;
}

.freeform-inputFocused {
  border: 2px solid var(--gray900); /* ----- borderNeutral ----- */
  border-radius: 4px;
}

.freeform-input {
  width: 100%;
  font-size: 16px;
  caret-color: var(--green500);
  outline: none; /* Remove focus outline */
  box-shadow: none; /* Remove any focus box-shadow */
  border: none;
  /* background-color: red; */
  margin-right:12px ;
  margin-left: 12px;
}

/*
.freeform-inputClearable {
  padding-right: 30px;
}

.freeform-inputPrefix {
  padding-left: 24px;
}

.freeform-inputSuffix {
  padding-right: 36px;
} */

.freeform-prefixContainer,
.freeform-suffixContainer {
  display: flex;
  align-items: center;
  padding: 0;
  margin-right:12px ;
  margin-left: 12px;
  /* background-color: blue; */
  height: 100%;
  gap:12px;
}

.freeform-inputPrefixIcon,
.freeform-inputSuffixIcon,
.freeform-inputClearIcon {

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  
}

.freeform-inputClearIcon {
  cursor: pointer;
}

input::placeholder {
  color: var(--gray500);
}

.freeform-inputBorderNeutral {
  border: 2px solid var(--gray900);
}

.freeform-inputBorderNegative {
  border: 2px solid var(--red500);
  border-radius: 4px;
}

.freeform-inputErrorText {
  display: flex;
  gap: 4px;
  align-items: center;
}
