.datarow-inputContent {
  position: relative;
  display: flex;
  height: 32px;
  border-radius: 4px;
  padding-left: 8px;
  padding-right: 8px;
}

.datarow-inputFocused {
  outline-offset: -1px;
  outline: 2px solid var(--border-neutral);
}

.datarow-input {
  width: 100%;
  font-size: 16px;
  caret-color: var(--content-accent);
  outline: none; /* Remove focus outline */
  box-shadow: none; /* Remove any focus box-shadow */
  border: none;
  text-align: right;
  text-overflow: ellipsis;
  background: transparent;
}

.datarow-prefixContainer {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.datarow-inputPrefixIcon {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

input::placeholder {
  color: var(--content-tertiary);
}

.datarow-inputBorderNeutral {
  border: 2px solid var(--border-neutral);
}

.datarow-inputBorderNegative {
  border: 2px solid var(--border-negative);
  border-radius: 4px;
}

.datarow-inputBorderWarning {
  border: 2px solid var(--content-warning);
  border-radius: 4px;
}
